# Deploy artifacts
deploy/_skbuild/
deploy/dist/
deploy/sgext.egg-info/
# Byte-compiled / optimized / DLL files
__pycache__/
# ignore simlink of python package (from build) in scripts/ folder
# used in notebook ipynb
scripts/notebooks/perm
# sphinx
_build
_static
_templates
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# python notebooks
.ipynb_checkpoints
#GitHub C++ gitignore
# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Fortran module files
*.mod
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Executables
*.exe
*.out
*.app
##########
#Project#
/build*
/data*
#EDITORS#
*.swp
*.swo
*.orig
*.*.orig
Session.vim
.eclimrc
*.project
*.cproject
*.ycm_extra_conf.pyc
